.dispnon{display: none;}

.navbar {
  padding: 0.6rem 2rem !important;
}

.nav-item {
  margin: 0 1vw;
  cursor: pointer;
}

hr {
  max-width: 20vw;
  border-width: 2px;
  border-color: #81c56c;
  border-radius: 1px;
}

header .container hr,
header .container ion-icon {
  font-size: 5em;
  color: white !important;
}
header .container h1 {
  font-size: 4em;
  text-shadow: 1px 1px 2px black;
}
header .container p {
  font-size: 2.1em;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: 400;
}

#about,
.bg-primary {
  background-color: #292929 !important;
}
#about a,
.bg-primary a {
  background-color: #a7ba15;
}

section.contacto {
  padding-top: 8vh;
  padding-bottom: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.contacto .mb-5 {
  padding: 0;
  margin-bottom: 0 !important;
}
section.contacto .mx-auto {
  padding: 0;
  margin: 0;
}

.contenido_contacto {
  display: flex;
  justify-content: center;
}

.contenido_contacto .formulario {
  width: 85%;
  padding: 30px;
}

.contenido_contacto .formulario div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px;
}

.contenido_contacto .formulario div input {
  width: 50%;
  margin-bottom: 20px;
  text-align: left;
}

.contenido_contacto .formulario div input,
.contenido_contacto .formulario div textarea {
  border: 2px solid #81c56c;
  border-radius: 10px;
  resize: none;
  padding: 10px 10px;
  margin: 3px;
  font-size: 1em;
  text-align: left;
}

.contenido_contacto .formulario div input.este_no,
.contenido_contacto .formulario div textarea {
  width: 100%;
}

input[type=button] {
  border: 0px solid black !important;
  margin-top: 25px;
  background: black;
  border-radius: 50px;
  border-width: 0;
  border-style: solid;
  cursor: pointer;
  user-select: none;
  white-space: pre;
  transition: all 0.2s ease-in-out;
  color: white;
  font-size: 1em;
  font-weight: 600;
  margin-top: 15px;
  width: auto;
  padding: auto;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

input[type=button]:hover {
  background: #81c56c;
}

#row-huija {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
#row-huija div {
  margin: 10px 0;
  cursor: pointer;
}
#row-huija div .text-primary {
  color: #81c56c !important;
  font-size: 6.2em;
}
#row-huija div .mb-3 {
  color: grey;
}
#row-huija div a {
  padding: 5px;
}
#row-huija div a:hover {
  color: #81c56c;
}

#chevron {
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#chevron div a img {
  text-shadow: 1px 1px 1px black;
  width: 40px;
}

#contact {
  background-color: #f0f0ee !important;
  padding: 0px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#contact #mapa {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 2vw;
  margin: 0 !important;
  width: 45%;
}
#contact #touch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 0;
  margin: 0 !important;
  width: 50%;
}
#contact #touch .row {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px !important;
  padding: 0;
}
#contact #touch .row .icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
#contact #touch .row .icons .left {
  margin-right: 3vw;
}
#contact #touch .row .icons .right {
  margin-left: 3vw;
}

.portfolio-box .portfolio-box-caption {
  background: rgba(184, 202, 23, 0.9);
}

/*# sourceMappingURL=huija.css.map */
